doctype html
<!--[if lt IE 7]>			<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="lang"> <![endif]-->
<!--[if IE 7]>				 <html class="no-js lt-ie9 lt-ie8" lang="lang"> <![endif]-->
<!--[if IE 8]>				 <html class="no-js lt-ie9" lang="lang"> <![endif]-->
  head
    //- Meta
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="author", content="Satche")
    meta(name="description", content="Portfolio of Thomas Robert")
    meta(name="keywords", content="portfolio")

    //- Favicon
    //- link(rel="icon", href="favicon.ico")

    //- CSS
    link(rel="stylesheet", type="text/css", href="css/style.css")

    //- Fonts
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Amatica+SC|Open+Sans:300,400")

    title Thomas Robert – Portfolio

  body
    //- <!--[if lt IE 8]> <div>Browser outdated!!</div> <![endif]-->
    nav
      #offset
      ul
        li
          a.active(href="#welcome")
        li
          a(href="#about")
        li
          a(href="#work")
        li
          a(href="#contact")
    header
      section#welcome
        .container-fluid
          .media_box
            img.fullscreen(src="img/welcome.gif",alt="welcome-gif")
            .media_color
          .text-welcome
            h1 Thomas<mark>Robert</mark>
            p Un jeune <mark>concepteur en multimédia</mark> et dessinateur compulsif.<br>Un couteau-suisse des arts graphiques éguisé à la <mark>créativité</mark>.
          a(href="#about")
            span.fa.fa-chevron-down

    main
      section#about
        .container-fluid
          .container
            h1 Qui suis-je ?
            hr
            .row
              .col-sm-4.col-sm-push-8(display="false", delay=500)
                picture
                  a(href="pdfs/cv.pdf", target="_blank")
                    img.img-responsive(src="img/profile-sketch.png", alt="profile_picture")
                    p Accéder au Curricul Vitae
              .col-sm-8.col-sm-pull-4(display="false")
                .paragraph
                  h2 Thomas Robert, 24 ans, concepteur en multimédia.
                  p.
                    En 2011, je sors du gymnase de la Cité, diplôme en main, et intègre directement l'Eracom. Pendant cette formation, mes camarades et moi fondons l’association <a href="http://whaaaprod.ch" target="_blank">WhaaaProd</a>. L'objectif: nous habituer  au monde professionel en travaillant sur des mandats motivants. Trois ans après, j’obtiens avec succès mon CFC de Concepteur en multimédia (ou “Interactive Media Designer”) avec diplôme à la clé.
                  p.
                    Juste après avoir achevé ma formation, j'enfile la tenue militaire et enchaîne 13 mois d'armée, comprenant école d'officier et paiement de gallon jusqu'au grade de lieutenant.
                  p.
                    Mi-2015, je dépose mon sac kaki pour en reprendre un plus coloré: j'entreprends cinq mois de voyage en Amérique du Sud et visite en tout sept pays. À mon retour, début 2016, je décroche un stage de web designer/développeur front-end. Je deviens parallèlement le président de notre association, supervisant avec passion nos différents projets.
            .row
              .col-sm-4(display="false")
                h3 Outils
                table
                  tr
                    td Adobe (Ps,Id,Ai)
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li
                  tr
                    td Atom
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                  tr
                    td git
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li
                  tr
                    td nodejs, gulp
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li
                        li
              .col-sm-4(display="false", delay=250)
                h3 Fonctions
                table
                  tr
                    td Web design
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li
                  tr
                    td Front-end
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                  tr
                    td Graphisme
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li
                  tr
                    td Illustration
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li
              .col-sm-4(display="false", delay=500)
                h3 Web
                table
                  tr
                    td HTML, CSS
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                  tr
                    td Javascript, jQuery
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li
                        li
                  tr
                    td SASS, Pug
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li
                  tr
                    td Bootstrap
                    td
                      ul
                        li.fill
                        li.fill
                        li.fill
                        li.fill
                        li
      section#work
        .container-fluid
          .container
            h1 Qu'ai-je créé ?
            hr
            mixin article(img, link)
              article
                .row
                  .col-sm-5(display="false")
                    picture
                      a(href=link, target="_blank")
                        img(src= img, alt= title)
                  .col-sm-7(display="false", delay=500)
                    .mod-block-text
                      block
            +article('img/project-whaaaprod.png', 'http://www.whaaaprod.ch')
              h2 Whaaaprod
              p Présidence dans l'association Whaaaprod, fondée en 2014.
              h3 Mes tâches
              ul
                li Planifier, organiser et administrer l'ensemble de l'association
                li Supérviser les différents projets
                li Contributions générales sur les projets liés au web, design, illustration
            +article('img/project-cowork.png', 'pdfs/co-working.pdf')
              h2 Flyer Co-working
              p Création d'un flyer pour du co-working, réalisé dans le cadre de <a href="http://devfactory.ch" target="_blank">Devfactory</a> en tant que designer.
              h3 Mes tâches
              ul
                li Créer et développer le design du flyer
            +article('img/project-soon.png')
              h2 Concours Internation de Danse (Eracom)
              p Site fictif pour une concours internation de danse sur le thème du flamenco, examen final de l'Eracom
              h3 Mes tâches
              ul
                li Site map, Wireframe
                li Création de la ligne graphique
                li Création de maquettes
                li Développement front-end
                li Livraison d'une vidéo d'illustration
                li Création d'un prospectus (horaires)
            +article('img/project-soon.png')
              h2 Sexup
              p Site web d'annonce et rencontre érotiques, réalisé dans le cadre de <a href="http://devfactory.ch" target="_blank">Devfactory</a> en tant que développeur et responsable client.<br>
                small Avertissement: Comme vous pouvez vous en douter, les images ont un contenu… sulfureux.
              h3 Mes tâches
              ul
                li Création de la ligne graphique
                li Création des maquettes, prise en compte des retours client
                  ul
                    li
                      a(href="pdfs/sexup-presentation.pdf", target="_blank") Présentation
                      | ,
                      a(href="pdfs/sexup-1.pdf", target="_blank")  Variante 1
                      | ,
                      a(href="pdfs/sexup-2.pdf", target="_blank")  Variante 2
                li Développement front-end
            //- +article('img/project-soon.png')
              h2 Shumhum
              p Plateforme de recherche d'emploi, réalisé dans le cadre de <a href="http://devfactory.ch" target="_blank">Devfactory</a> en tant que développeur et responsable client.
              h3 Mes tâches
              ul
                li Suivi projet et contact client
                li Développement front-end
                li Conseil UX/UI et design
                li Adaptation graphique
    footer
      section#contact
        .container-fluid
          .container
            h1 Comment me contacter ?
            hr
            ul
              mixin socicons(delay, link, icon, target)
                li(display="false", delay= delay)
                  a(href= link, target= target)
                    span.fa(class= icon)
                    .socicons-infos
                      block
              +socicons(100, "tel:+41796229485", "fa-phone", "_self")
                p Besoin de mon contacter rapidement ? <br>Vous pouvez directement m’atteindre par téléphone au <b>+41 79 622 94 85</b>
              +socicons(200, "mailto:ch.satche@gmail.com", "fa-envelope", "_self")
                p Le chemin le plus administratif de notre époque reste encore le e&#8209;mail. <br>Vous pouvez donc m'écrire à cette adresse: <b>ch.satche@gmail.com</b>
              +socicons(300, "https://www.instagram.com/satche_ch/", "fa-instagram", "_blank")
                p Un petit avant-goût de ma passion qu'est le dessin, que j'intègre dans mon travail quand l'opportunité s'y présente.
              +socicons(400, "https://www.linkedin.com/in/thomas-robert-85b78850", "fa-linkedin", "_blank")
                p Pour garder un réseau professionnel, je favorise <b>Linkedin</b>. <br>Découvrez mon parcours professionnel en ligne.
              +socicons(500, "https://bitbucket.com/Satche", "fa-bitbucket", "_blank")
                p Pour vous faire une idée de mes compétences techniques, <br> jetez un œil aux sources de mes projets Web à travers <b>Bitbucket</b>.
              +socicons(600, "https://github.com/Satche", "fa-github", "_blank")
                p Pas intéressé par les sources ? Voici les versions compilées disponibles sur <b>Github</b> !
            .copyright
              | Le site et son contenu sont mis sous licence CC<br>
              a(rel="license", href="https://creativecommons.org/licenses/by-nc/4.0/deed.fr", target="_blank") © Licence Creative Commons Attribution - Pas d’Utilisation Commerciale 4.0 International.
  //- JS
  script(type="application/javascript", src="js/app.js")
