/*****************************************
* BASE
******************************************/
/* Libs
******************************************/
@import 'normalize';
@import 'lib/_bootstrap';
@import 'lib/_font-awesome';

/* Vars
******************************************/
// Colors (global)
$color_global_main-light: #12cece;
$color_global_main-normal: #08a2cc;
$color_global_main-dark: #0a5c7a;
$color_global_white: #fff;
$color_global_black: #575859;
// Colors (section)
$color_section-about_bg: $color_global_main-dark;
$color_section-about_text: $color_global_white;
$color_section-work_bg: $color_section-about_text;
$color_section-work_text: $color_global_main-normal;
// Colors (anim)
$color_anim_start: $color_global_main-dark;
$color_anim_mid: $color_global_main-normal;
$color_anim_end: $color_global_main-light;
// Devices
$device_mobile: 768px;
$device_tablet: 992px;
$device_small: 1400px;
// Mixins
@mixin box-shadow($color) {
  box-shadow: 3px 3px 10px darken($color, 15%);
}
/* Animations
******************************************/
/* Animations
******************************************/
@keyframes anim_color {
  0% {
    background: transparent;
  }
  10% {
    background: $color_anim_start;
  }
  50% {
    background: $color_anim_mid;
  }
  100% {
    background: $color_anim_end;
  }
}

@keyframes anim_text_color {
  0% {
    color: transparent;
  }
  10% {
    color: $color_anim_start;
  }
  50% {
    color: $color_anim_mid;
  }
  100% {
    color: $color_anim_end;
  }
}

@keyframes anim_text_display {
  0% {
    color: transparent;
  }
  50%  {
    color: $color_anim_start;
  }
  100% {
    top: -15px;
    color: black;
  }
}

@keyframes anim_fa-chevron-down {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

/* Global Rules
******************************************/
// Classes
body {
  overflow-x: hidden;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2 {
  font-weight: normal;
  font-family: 'Amatica SC', sans-serif;
}

h1 {
  font-size: 3.5em;
  @media screen and (max-width: $device_mobile) {
    text-align: center!important;
    font-size: 3em;
  }
}

h2 {
  font-size: 1.8em;
}
mark {
  background: none;
}
a {
  color: $color_global_main-light;
  text-decoration: none;
  transition: color 0.5s;
  &:hover {
    color: $color_global_main-dark;
    text-decoration: none;
    transition: color 0.5s;
  }
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  position: relative;
  min-height: 100vh;
}
.fullscreen {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: 100vh;
}
[display='false'] {
  top: 25px;
  display: block;
  opacity: 0;
  transition: 1s;
}
[display='true'] {
  // position: relative;
  top: 0;
  opacity: 100!important;
  transition: 1s;
}
.img-responsive {
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 100%;
  transition: 0.5s;
}
