/*****************************************
* LAYOUT
******************************************/
section#welcome {
  .container-fluid {
    height: 100vh;
    background: white;
  }
}
section#about {
  .container-fluid {
    background: linear-gradient(135deg, $color_global_main-normal 18%,$color_global_main-normal 18%,$color_global_main-dark 82%);
    color: $color_section-about_text;
  }
  .container {
    padding-bottom: 30px;
  }
}
section#work {
  .container-fluid {
    background: $color_section-work_bg;
    color: $color_section-work_text;
  }
  .container {
    margin-bottom: 25px;
  }
}
section#contact {
  .container-fluid {
    background: linear-gradient(135deg, $color_global_main-normal 18%,$color_global_main-normal 18%,$color_global_main-light 82%);
    color: $color_section-about_text;
  }
}
