/*****************************************
* MODULES
******************************************/
/* Text
******************************************/
.mod-block-text {
  h3 {
    margin: 5px 0;
    color: $color_global_black;
  }
  ul {
    margin: 5px 0;
    color: $color_global_black;
  }
  li {
    margin-left: 20px;
    list-style: circle;
  }
}

/* Nav
******************************************/
nav {
  ul {
    position: fixed;
    top: 50%;
    right: 35px;
    z-index: 10;
    margin: 0;
    transition: transform 0.5s;
    transform: translate(100%,-50%);
  }
  &.navbar_show {
    ul {
      transform: translateY(-50%);
      &::before {
        background: $color_global_main-light;
      }
    }
    #offset {
      z-index: 10;
      background: fade-out(black, 0.7);
      pointer-events: auto;
    }
    .container-fluid {
      pointer-events: auto;
    }
  }
  @media screen and (max-width: $device_mobile) {
    .container-fluid {
      right: 0;
      width: 100%;
    }
    #offset {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      transition: background 0.5s;
      pointer-events: none;
    }
    ul {
      right: 0;
      width: 50px;
      height: 100%;
      &::before {
        position: absolute;
        top: 15px;
        left: -65px;
        padding: 12px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $color_global_main-dark;
        color: $color_global_white;
        content: '\f0c9';
        text-align: center;
        font-size: 1.4em;
        font-family: 'FontAwesome';
        cursor: pointer;
        transition: background 0.5s;
      }
      &:hover::before {
        background: $color_global_main-light;
      }
    }
  }
}
/* Welcome Section
******************************************/
section#welcome {
  .media_box {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    img {
      right: 10%;
      left: auto;
      max-height: 300px;
      transition: opacity 0.5s;
      transform: translate(-50%, -50%);
      @media screen and (max-width: $device_small) {
        right: 0;
        left: 50%;
        opacity: 0.2;
      }
    }
  }
  .media_color {
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    animation: anim_color 15s forwards;
    @media screen and (max-width: $device_small) {
      opacity: 0.2;
    }
  }
  .text-welcome {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 750px;
    @media screen and (max-width: $device_tablet) {
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
    }
    h1,
    p {
      position: relative;
      top: 0;
      padding: 0 30px;
      color: transparent;
      animation: anim_text_display 1s forwards;
    }
    h1,
    h1 mark {
      white-space: nowrap;
      animation-delay: 2s;
    }
    h1 {
      margin: 0;
      font-size: 6em;
      @media screen and (max-width: $device_mobile) {
        font-size: 4em;
      }
    }
    p {
      font-size: 1.5em;
      animation-delay: 3s;
    }
    mark {
      color: transparent;
      animation: anim_text_display 1s forwards 3s;
      animation: anim_text_color 13s forwards 3s;
    }
  }
}
/* About Section
******************************************/
section#about {
  picture,
  .paragraph {
    display: block;
    margin: 20px 0 30px;
  }
  img {
    max-width: 175px;
  }
}

/* Work Section
******************************************/
section#work {
  h1 {
    text-align: right;
  }
  hr {
    margin-bottom: 0;
  }
  [class^='col-'] {
    position: relative;
    margin: 25px 0;
    min-height: 200px;
  }
  @media screen and (min-width: $device_mobile) {
    article:nth-child(odd) .col-sm-5 {
      float: right;
    }
  }
  article {
    padding: 10px 0;
    border-bottom: 1px solid lighten($color_global_black, 50%);
    &:last-child {
      border-bottom: none;
    }
    picture {
      position: relative;
      right: 0;
      left: 0;
      z-index: 1;
      display: block;
      overflow: hidden;
      margin: 0 auto;
      width: 100%;
      height: 200px;
      border-radius: 10px;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        filter: grayscale(1);
        transition: filter 1s;
        transform: translate(-50%,-50%);

        object-fit: cover;
      }
      &:hover {
        img {
          filter: none;
        }
      }
    }
    h2 {
      margin: 0;
      font-size: 2.4em;
    }
    p {
      display: block;
      overflow: hidden;
      color: lighten($color_global_black, 20%);
    }
  }
}

/* Footer
******************************************/
section#contact {
  .fa {
    transition: 0.4s;
  }
  ul {
    position: relative;
    text-align: center;
    font-size: 2.5em;
    li {
      width: 75px;
      display: inline-block;
      @media screen and (max-width: $device_mobile) {
        display: block;
        padding: 0;
        text-align: left;
      }
      a {
        display: block;
        width: 100%;
        color: $color_global_white;
        &:hover {
          .fa {
            color: $color_global_main-dark;
          }
          .socicons-infos {
            visibility: visible;
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
    }
  }
  .socicons-infos {
    position: absolute;
    top: 60px;
    right: 0;
    visibility: hidden;
    width: 100%;
    text-align: center;
    font-size: 0.5em;
    opacity: 0;
    transition: 0.2s;
    @media screen and (max-width: $device_mobile) {
      position: relative;
      top: -60px;
      visibility: visible;
      padding-left: 15%;
      text-align: left;
      opacity: 1;
    }
  }
  .copyright {
    position: absolute;
    bottom: 25px;
    a {
      color: $color_global_white;
      &:hover {
        color: $color_global_main-dark;
      }
    }
  }
}
