/*****************************************
* STATE
******************************************/
/* Navbar
******************************************/
nav {
  a {
    display: block;
    margin: 25px 0;
    width: 15px;
    height: 15px;
    border: 1px solid $color_global_white;
    border-radius: 50%;
    background: $color_global_main-dark;
    color: $color_global_main-dark;
    transition: background 1s;
    &::before {
      position: absolute;
      right: 25px;
      margin-top: -3px;
      margin-right: 0;
      color: transparent;
      content: '';
      text-align: right;
      white-space: nowrap;
      transition: margin-right 0.2s;
    }
    &.active,
    &:hover {
      background: $color_global_main-light;
      color: $color_global_main-dark;
      transition: background 0.5s;
      &::before {
        margin-right: 5px;
        color: lighten($color_global_main-light, 20%);

        @extend a::before;
      }
    }
  }
  li:nth-child(1) a::before {
    content: 'Intro';
  }
  li:nth-child(2) a::before {
    content: 'À propos';
  }
  li:nth-child(3) a::before {
    content: 'Projets';
  }
  li:nth-child(4) a::before {
    content: 'Contact';
  }
  @media screen and (max-width: $device_mobile) {
    li {
      overflow: hidden;
      margin: 0;
      height: 25%;
    }
    a {
      position: relative;
      margin: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 0;
      &::before {
        top: 50%;
        right: 0;
        left: 0;
        margin: 0;
        width: 100%;
        color: $color_global_white;
        text-align: center;
        font-weight: lighter;
        line-height: 0;
        transform: rotate(90deg);
      }
    }
  }
}
/* Welcome Section
******************************************/
section#welcome {
  .fa-chevron-down {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px 0;
    color: $color_global_black;
    text-align: center;
    transition: 1s;
    &:hover {
      color: $color_global_main-light;
      transition: 0.5s;
    }
    &:before {
      position: relative;
      font-size: 3em;
      animation: anim_fa-chevron-down 0.75s infinite;
    }
  }
}
/* About Section
******************************************/
section#about {
  a:hover > p {
    color: $color_global_main-light;
  }
  a > p {
    color: $color_global_white;
    text-align: center;
    transition: color 0.5s;
  }
  h2 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
  }
  h3 {
    border-bottom: 1px solid $color_global_white;
  }
  td:first-child {
    padding-right: 10px;
    text-align: right;
  }
  li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid $color_global_white;
    border-radius: 50%;
    vertical-align: middle;
    &.fill {
      background: $color_global_white;
    }
  }
}
